# Node dependencies (frontend & backend)
node_modules/

# Python cache
__pycache__/
*.py[cod]

# Local env variables
.env
.env.local

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Vercel/Deployment
.vercel/
